FROM python:3.11-slim

WORKDIR /app

COPY ./postgres/schema.sql /postgres/schema.sql
COPY ./data /data
COPY ./src /app

RUN pip install --upgrade pip
RUN pip install -r requirements.txt

CMD ["python", "ingest.py"]
